body {
    background-image: url('/assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#signupContainer {
    margin: 5% auto;
    width: 40%;
    text-align: center;
}