
#main-heading{
    color: #0d47a1;
    text-align: center;
}


#logsign-card{
    padding: 20 40px;
    margin: 0 auto;
    text-align: center;
    width: 500px;
    background-color: rgba(255,255,255, 0.80);
}


.tabs{
    background: none;
    
}

#mapModal{
    margin-bottom: 20px;
}
.btn{
    background-color: #42a5f5!important;
}

.btn:hover{
    background-color: #1e88e5;
}

#crear-evento{
    background-color: red!important;
}

.tabs a{
    color: black!important;
}

.tabs .tab .active{
    border-bottom: solid 3px #42a5f5 ;
}

.intereses{
     margin: 0 auto;
    width: 50%;
   
}

.intereses p {
    
    text-align: left;
}

nav{
    background-color: #42a5f5;
}

#add-event-btn{
    position: fixed;
    right: 30px;
    bottom: 30px;
}

#modal-add-event {
    margin-top: -45px!important;
    width: 500px;
    max-height: 100%!important;
}

#modal-add-event h5{
    color: #42a5f5;
    text-align: center;
}

.btn-submit {
    width: 250px;
}

#modal-view-event {
    width: 450px;
}

.card a{
    color: #1565c0!important;
    font-weight: bold;
}

.card-title{
    color: #1e88e5;
    font-weight: bold;
}

.rightcol{
    border-left: 1px solid;
    border-color: rgba(21,101,192, 0.15);
}



#notificaciones li {
    padding: 20px;
}


.buscarContainer{
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    height: 75px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #eeeeee ;
}

.buscarContainer input{
    width: 35%;
}

nav .active{
    background-color: #1565c0;
}

nav ul li a:hover{
    background-color: #1565c0!important;
}

.toastContent{
    background-color: white;
    width: 100%;
    height: 85px;
    background-image: url('/assets/images/img_agregado_paloma.png');
    background-position-y: 50%;
    background-size: 12%;
    background-repeat: no-repeat;
    padding-left: 60px;
    color: black;
}

.toastContentError{
    background-color: white;
    width: 100%;
    height: 85px;
    background-image: url('/assets/images/delete.png');
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: 10%;
    padding-left: 50px;
    color: black;
}

