<div class="row">
    <div  class="col m12">
        <div ng-repeat="event in vm.events" class="col m3">
        <div  class="card darken-1">
        <div  class="card-content black-text">
        <span class="card-title">{{event.title}}</span>
        <p>{{event.description}}</p>
        <p>{{event.date}}</p>
        <p>{{event.time}}</p>
        <br />
        <b>{{event.tags}}</b>
        </div>
        <div style="text-align: right;" class="card-action">
        <a ng-click="vm.verEvento(vm.eventList[$index].events, event.title, event.description, event.date, event.time)" >Ver evento</a>
        <a ng-click="vm.salirEvento(vm.eventList[$index].events)">Salirme</a>
        </div>
        </div>
        </div>
    </div>
</div>


<div id="modal-view-event" class="modal">
    <div style="text-align:center;" class="modal-content text-center">
        <div class="container">
            <h5>{{vm.viewTitle}}</h5>
            <p>{{vm.viewDescription}}</p>
            <label for="fecha">Fecha de evento:</label>
            <input disabled type="text" value="{{vm.viewDate}}">
            <label for="hora">Hora de evento:</label>
            <input disabled type="text" value="{{vm.viewTime}}">
            <input ng-click="vm.joinEvent(vm.viewIndex, vm.viewTitle)" type="submit" class="btn btn-submit modal-action modal-close" value="Join"/>
        </div>
    </div>
</div>

