<div class="row">
    <div ng-repeat="event in vm.events" class="col m12">
        <div class="col m3">
        <div  class="card darken-1">
        <div  class="card-content black-text">
        <span class="card-title">{{event.title}}</span>
        <p>{{event.description}}</p>
        <p>{{event.date}}</p>
        <p>{{event.time}}</p>
        <br />
        <b>{{event.tags}}</b>
        </div>
        <div style="text-align: right;" class="card-action">
        <a href="#">Ver evento</a>
        <a href="#">Salirme</a>
        </div>
        </div>
        </div>
    </div>
</div>

