
<div class="buscarContainer" class="col m12">
    <input ng-model="searchText.tags" placeholder="Buscar tags de eventos.." type="text"></input>
</div>

    <div class="row">
        <div class="col m4">
            <p>Notificaciones</p>
            <ul id="notificaciones" class="collection">
                <li ng-repeat="notification in vm.notifications" class="collection-item"><b>{{notification.title}}</b><br />{{notification.message}}{{notification.title}} </li>
            </ul>
        </div>
        <div class="col m8 rightcol">
            <div class="col s12">
                <ul style="width: 50%;" class="tabs">
                    <li class="tab col s3"><a class="active" href="#/newsfeed">Lista</a></li>
                    <li class="tab col s3"><a href="#/mapa">Mapa</a></li>
                </ul>
                <br />
            </div>
            <div ng-repeat="event in vm.events | filter: searchText " class="row">
        <div class="col m12">
            <div style="width: 90%; margin: 0 auto; " class="card darken-1">
            <div ng-click="vm.viewEvent(vm.keys[$index], event.title, event.description, event.date, event.time)" class="card-content black-text">
              <span class="card-title">{{event.title}}</span>
              <p>{{event.description}}</p>
              <p>{{event.date}}</p>
              <p>{{event.time}}</p>
              <br/>
              <b>{{event.tags}}</b>
            
            </div>
            <div style="text-align: right;" class="card-action">
              <a ng-click="vm.joinEvent(vm.keys[$index], event.title)" >Unirme a evento</a>
            </div>
          </div>
        </div>
    </div>
    </div>
</div>


<div id="modal-view-event" class="modal">
    <div style="text-align:center;" class="modal-content text-center">
        <div class="container">
            <h5>{{vm.viewTitle}}</h5>
            <p>{{vm.viewDescription}}</p>
            <label for="fecha">Fecha de evento:</label>
            <input disabled type="text" value="{{vm.viewDate}}">
            <label for="hora">Hora de evento:</label>
            <input disabled type="text" value="{{vm.viewTime}}">
            <input ng-click="vm.joinEvent(vm.viewIndex, vm.viewTitle)" type="submit" class="btn btn-submit modal-action modal-close" value="Join"/>
        </div>
    </div>
</div>

<div id="modal-map" class="modal">
    <div style="text-align:center;" class="modal-content text-center">
        <div class="container">
            <ng-map ng-if="vm.showMap" id="mapModal" center="{{vm.latitude}}, {{vm.longitude}}">
                <marker visible="true" on-mouseup="vm.markerMove()" draggable="true" position="{{vm.latitude}}, {{vm.longitude}}"></marker>
            </ng-map>
            <button ng-click="vm.saveLocation()" class="btn modal-action modal-close">Guardar ubicacion</button>
        </div>
    </div>
</div>


<div id="modal-add-event" class="modal">
    <div style="text-align:center;" class="modal-content text-center">
        <div class="container">
            <h5>Nuevo evento</h5>
            <input ng-model="vm.eventname" placeholder="Nombre de evento..." />
            <input ng-model="vm.eventdescription" placeholder="Descripcion de evento..." />
            <div input-field>
            <select class="" ng-model="vm.eventcategory" material-select watch>
                <option selected disabled value="">Elige una categoria</option>
                <option>Futbol</option>
                <option>Yoga</option>
                <option>Soccer</option>
                <option>Basketball</option>
                <option>Correr</option>
            </select>
            </div>
            <label for="fecha">Fecha de evento:</label>
            <input input-date
            type="text"
            name="created"
            id="fecha"
            ng-model="vm.fecha"
            container="body"
            format="dd/mm/yyyy" />
            <label for="hora">Hora de evento:</label>
            <input id="hora" ng-model="vm.hora" input-clock data-twelvehour="false" type="text">
            <button ng-click="vm.addMap()" style="border-radius: 70px;" class="btn" ><i class="material-icons">my_location</i></button>
            <input ng-model="vm.tags" placeholder="Tags (#) del evento..." />
            <input ng-click="vm.addEvent()" id="crear-evento" type="submit" class="btn  btn-submit modal-action modal-close" value="Crear"/>
            
        </div>
    </div>
</div>





<a ng-click="vm.modalAddEvent()" id="add-event-btn" class="btn-floating btn-large waves-effect waves-light blue darken-3">+</a>
