<div id="logsign-card" class="card-panel">
    <div style="text-align: center;">
            <img style="width: 50px; height: auto;" src="/assets/images/logo.png">
            </div>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a href="#/signup">Sign up</a></li>
                        <li class="tab col s3"><a class="active" href="#/login">Log In</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <form ng-submit="vm.login()">
                        <label for="username">Nombre de Usuario:</label>
                        <input ng-model="vm.email" placeholder="Nombre de Usuario" type="text" name="username"/>
                        <label for="password">Contrasena:</label>
                        <input ng-model="vm.password" placeholder="Contrasena" type="password" name="password"/>
                        <input  type="submit" value="Iniciar sesion" class="btn" />
                    </form>
                </div>
            </div>
    </div>
</div>